body {
	padding-top: 5em;
	background-color: #dee;
	font-family: serif;
	text-align: center;
}

h1 {
	text-align: center;
	font-family: sans-serif;
}

h2 {
	letter-spacing: 1em;
}

kbd > kbd {
	border: outset 3px gray;
}
kbd > kbd:hover {
	background-color: #ccc;
}

strong { color: red;}
